@model Category
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Kategori Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <button class="btn btn-success">Ekle</button>
    </form>
</div>
