@model Product
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Ürünü Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Fiyat</label>
        <input type="text" asp-for="Price" class="form-control" />
        <br />
        <label>Stok</label>
        <input type="text" asp-for="Stock" class="form-control" />
        <br />
        <label>KAtegori Adı</label>
        @Html.DropDownListFor(a=>a.CategoryId,(List<SelectListItem>)ViewBag.v, new {@class="form-control"})
        <br />
        <button class="btn btn-success">Ekle</button>
    </form>
</div>
