@model DesignPattern.Facade.DAL.Product;

@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}


<h2>Yeni Ürün Girişi</h2>
<form method="post">
    <br />
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Stok Sayısı</label>
    <input type="text" class="form-control" asp-for="Stock" />
    <br />
    <label>Fiyatı</label>
    <input type="text" class="form-control" asp-for="Price" />
    <br />
    <label>Kategori</label>
    <input type="text" class="form-control" asp-for="Category" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>

