@model DesignPattern.Facade.DAL.OrderDetail;
@{
    ViewData["Title"] = "OrderStart";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h2>Sipariş Detay Sayfası</h2>
<form method="post">
    <label>Müşteri Id</label>
    <input type="text" class="form-control" asp-for="CustomerId" />
    <br />
    <label>Ürün Id</label>
    <input type="text" class="form-control" asp-for="ProductId" />
    <br /> 
    <label>Sipariş Id</label>
    <input type="text" class="form-control" asp-for="OrderId" />
    <br /> 
    <label>Ürün Fiyatı</label>
    <input type="text" class="form-control" asp-for="ProductPrice" />
    <br />
    <label>Ürün Adet</label>
    <input type="text" class="form-control" asp-for="ProductCount" />
    <br />
    <button class="btn btn-success">Sipariş Oluştur</button>
</form>