@model DesignPatter.Mediator.MediatorPattern.Commands.CreateProductCommand;
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Fiyatı</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br />
        <label>Stok</label>
        <input type="text" class="form-control" asp-for="Stock" />
        <br />
        <label>Stok Türü</label>
        <input type="text" class="form-control" asp-for="StockType" />
        <br />
        <label>Kategori</label>
        <input type="text" class="form-control" asp-for="CategoryId" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>