@model DesignPattern.Facade.DAL.Order;

@{
    ViewData["Title"] = "OrderStart";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}


<h2>Sipariş Sayfası</h2>
<form method="post">
    <label>Müşteri Id</label>
    <input type="text" class="form-control" asp-for="CustomerId" />
    <br />
    <button class="btn btn-success">Sipariş Oluştur</button>
</form>